.tc-1 {
    font-size: 14px;
    font-weight: bold;
    color: #4e4b6b;
}
.tc-2 {
    margin-left: 20px;
}
.tc-3 {
    margin-left: 40px;
}
.tc-container strong {
    color: #4e4b6b;
}
.tc-container hr {
    color: #4e4b6b;
}
.tc-sub-headings {
    font-size: 20px;
    text-align: center;
    color: #4e4b6b;
}
.tc-registration {
    font-size: 13px;
    color: rgba(105, 102, 142, 1.0);
}

.bp3-termsandconditionstablet .bp3-group7copy .bp3-rectanglecopy2 {
    height: 11426px;
}
.bp3-termsandconditionstablet .bp3-buttonom {
    top: 12162px;
}
.bp3-termsandconditionstablet .bp3-path12copy {
    top: 12162px;
}
.bp3-termsandconditionstablet .bp3-path12 {
    top: 12836px;
}
.bp3-termsandconditionstablet .bp3-group15-layout-container {
    top: 12867px;
}
.bp3-termsandconditionstablet .bp3-footerbuttons-layout-container {
    top: 12293px;
}
.bp3-termsandconditionstablet {
    min-height: 12969px;
}
.bp3-termsandconditionstablet .bp3-termsandconditions {
    width: 100%;
    left: 0;
}
.bp3-termsandconditionstablet .bp3-a22sevendigitalpty {
    width: 100%;
    left: 0;
}

.bp2-termsandconditionsdesktop {
    min-height: 11468px;
}
.bp2-termsandconditionsdesktop .bp2-group7 .bp2-rectanglecopy2 {
    height: 10115px;
}
.bp2-termsandconditionsdesktop .bp2-path12 {
    top: 10875px;
}
.bp2-termsandconditionsdesktop .bp2-path12copy {
    top: 12393px;
}
.bp2-termsandconditionsdesktop .bp2-group15 {
    top: 10875px;
}
.bp2-termsandconditionsdesktop .bp2-oldmutualisalice {
    top: 11419px;
}
.bp2-termsandconditionsdesktop .bp2-a251201922sevenallr {
    top: 11419px;
}
.bp2-termsandconditionsdesktop .bp2-footerbuttons-layout-container {
    top: 11024px;
}
.bp2-termsandconditionsdesktop .bp2-a22sevendigitalpty {
    width: 100%;
    left: 0;
}
.bp2-termsandconditionsdesktop .bp2-termsandconditions {
    width: 100%;
    left: 0;
}

.bp1-termsandconditions .bp1-version221september2014 .bp1-rectanglecopy2 {
    height: 9178px;
}
.bp1-termsandconditions {
    min-height: 10375px;
}
.bp1-termsandconditions .bp1-path12copy {
    top: 9916px;
}
.bp1-termsandconditions .bp1-group15 {
    top: 9916px;
}
.bp1-termsandconditions .bp1-path12 {
    top: 10300px;
}
.bp1-termsandconditions .bp1-oldmutualisalice {
    top: 10326px;
}
.bp1-termsandconditions .bp1-footerbuttons-layout-container {
    top: 10042px;
}
.bp1-termsandconditions .bp1-a251201922sevenallr {
    top: 10326px;
}

.bp4-termsandconditionsmobile .bp4-group7copy .bp4-rectanglecopy2 {
    height: 13266px;
}
.bp4-termsandconditionsmobile .bp4-group4 {
    top: 13957px;
}
.bp4-termsandconditionsmobile .bp4-bottom-layout-container {
    top: 14080px;
}
.bp4-termsandconditionsmobile {
    min-height: 14958px;
}
.bp4-termsandconditionsmobile .bp4-termsandconditions {
    width: 100%;
    left: 0;
}
.bp4-termsandconditionsmobile .bp4-a22sevendigitalpty {
    width: 100%;
    left: 0;
}
